* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: aliceblue;
  background: #081b29;
 
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #081b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.aboutme{
    padding: 150px 10% 0px 10%;
    
}


#aboutme h1{
    justify-content: center;
    display: flex;
    position: flex;
    font-weight: 600;
}
#aboutme h1::first-word{
    color: white;
}
#aboutme h1::after {
    content: "Me";
    color: #00abf0;
}
.aboutme p{

    align-content: center;
    color: aliceblue;
    display: flex;
    position: flex;
}
.aboutme img{
    margin: 60px;
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: white;
}

.aboutme .readmore{
  margin-top: 80px;
  height: 50px;
  text-align: center;
}

.aboutme .readmore a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}
